

logs/MLP/*
!logs/MLP/.gitkeep

logs/Autoencoder/*
!logs/Autoencoder/.gitkeep

logs/CNN/*
!logs/CNN/.gitkeep

logs/LSTM/*
!logs/LSTM/.gitkeep

logs/GRU/*
!logs/GRU/.gitkeep

logs/VanillaRNN/*
!logs/VanillaRNN/.gitkeep

__pycache__/
*.pyc
*.egg-info/
*.vscode/
